### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#use value_counts to get unique values from 'SN' and use len() to get a single integer count
unique_player_count = len(purchase_data['SN'].value_counts())

#new dataframe for total number of players count
total_player_count = pd.DataFrame({"Total Players":[unique_player_count]})
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#using .unique() to obtain unique number of the unique items and using len() to get a single integer value
unique_item_count = len(purchase_data["Item ID"].unique())

#using the .mean() for average of price column
average_price = purchase_data["Price"].mean()

#using .count() to obtain the number of purchases
purchase_number = purchase_data["Purchase ID"].count()

#using .sum() on Price column to get the sum of all sales
total_revenue = purchase_data["Price"].sum()

#creating a separate Data Frame for the obtained values above
purchasing_df = pd.DataFrame({"Number of Unique Items":[unique_item_count], "Average Price":[average_price],
                             "Number of Purchases":[purchase_number], "Total Revenue":[total_revenue]})

#formatting for cleaner data visuals
purchasing_df.style.format({"Average Price":"${:,.2f}", "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#using .groupby() use "Gender" to group the dataset together
gender_data = purchase_data.groupby("Gender")

#using .nunique() to get unique number of "SN" for the gender's since there can be duplicate "SN"
gender_counts = gender_data["SN"].nunique()

#using arithmatic to obtain gender percentage in regular decimals
gender_percentage = gender_counts / unique_player_count

#creating a separate Data Frame for obtained values for gender demographics
gender_demographics = pd.DataFrame({"Total Count": gender_counts, "Percentage of Players": gender_percentage})

#formatting the values, sort by "Tottal Count" in descending and in % in 2 decimal places for "Percentage of Players"
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#counting purchase numbers by gender using .count()
gender_purchase = gender_data["Purchase ID"].count()

#getting the average purchase price by gender using .mean()
avg_gender_purchase = gender_data["Price"].mean()

#getting the total purchase amount by gender using .sum()
total_gender_purchase = gender_data["Price"].sum()

#getting the average purchase total per person by gender with arithmatic
avg_purchase_total_gender = total_gender_purchase / gender_counts

#creating a new Data Frame to hold the new values
purchasing_gender_df = pd.DataFrame({"Purchase Count": gender_purchase, "Average Purchase Price": avg_gender_purchase,
                                     "Average Purchase Value": total_gender_purchase, 
                                     "Avg Purchase Total per Person": avg_purchase_total_gender})

#formatting for cleaner data visual
purchasing_gender_df.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#setting bins for ages
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 255]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categorizing players by age using pd.cut
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)

#creating a new Data Frame and group by with the newly created "Age Group"
age_group = purchase_data.groupby("Age Group")

#count players by age using .nunique()
age_count = age_group["SN"].nunique()

#percentage of players by age using arithmatic
age_percentage = age_count / unique_player_count

#creating a new Data Frame for new obtained age values above
age_demo = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percentage})

#formatting for cleaner data visuals
age_demo.style.format({"Percentage of Players":"{:,.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#count the purchase by age group using .count()
age_purchase_count = age_group["Purchase ID"].count()

#getting the average purchase price by age group using .mean()
avg_age_purchase = age_group["Price"].mean()

#getting the total purchase by age group using .sum()
total_age_purchase = age_group["Price"].sum()

#getting the average purchase per person by age group with arithmatic
avg_purchase_total_age = total_age_purchase / age_count

#creating new Data Frame to hold above new values created
purchasing_age_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                                 "Average Purchase Price": avg_age_purchase,
                                 "Total Purchase Value":total_age_purchase,
                                 "Average Purchase Total per Person": avg_purchase_total_age})

#formatting for cleaner data visuals
purchasing_age_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#group data set by "SN"
#fun fact: people who spend lots of money inside a game are called whales by other gamers
whales = purchase_data.groupby("SN")

#getting the purchase count by "SN" using .count()
sn_purchase = whales["Purchase ID"].count()

#getting the average purchase price by "SN" using .mean()
avg_sn_purchase = whales["Price"].mean()

#getting the total purchase by "SN" using .sum()
total_sn_purchase = whales["Price"].sum()

#creating a new Data Frame to hold the new values above
top_whales = pd.DataFrame({"Purchase Count": sn_purchase, "Average Purchase Price": avg_sn_purchase,
                           "Total Purchase Value": total_sn_purchase})

#sorting in descending order for the top 5 "SN" using .head()
top_whales_sorted = top_whales.sort_values(["Total Purchase Value"], ascending=False).head()

#formatting for cleaner data visuals
top_whales_sorted.style.format({"Average Purchase Total":"${:,.2f}", "Average Purchase Price":"${:,.2f}",
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
#creating a new Data Frame to hold "Item ID", "Item Name", and "Price" columns
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

#grouping by "Item ID" and "Item Name" using .groupby()
items_group = items_df.groupby(["Item ID", "Item Name"])

#getting the purchase count of items using .count()
item_purchase = items_group["Price"].count()

#getting the total purchase value using .sum()
item_purchase_total = items_group["Price"].sum()

#getting the individual item price using arithmatic
single_item_price = item_purchase_total / item_purchase

#creating Data Frame to hold values above
popular_items = pd.DataFrame({"Purchase Count": item_purchase, "Item Price": single_item_price,
                              "Total Purchase Value": item_purchase_total})

#sorting in descending order and getting the top 5 item names using .head()
popular_items_format = popular_items.sort_values(["Purchase Count"], ascending=False).head()

#formatting for cleaner data visuals
popular_items_format.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
#using the Data Frame above and change the .sort_values by "Total Purchase Value" 
#sorting in descending order and getting the top 5 item names using .head()
popular_items_format = popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

#formatting for cleaner data visuals
popular_items_format.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})